body{
  margin: 0;
  padding: 0;
  background-color: darkgray;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ol{
  margin-left:35px;
  padding-left: 5px;
  li{
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.tasks{
    display: block;
  .task {
    &:first-letter{
      margin-right: 10px;
      font-size: 30px;
      font-weight: 600;
    }
    padding: 10px 20px;
    border-bottom: 5px solid #00000080;
  }
}
.answ{
  text-align: center;
  width: 130px;
  display: block;
  font-size: 16px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #9397a1;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
  animation-name: animatedButton;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  &:hover{
    font-weight: bold;
  }
}
@keyframes animatedButton {
  0% {background-color: #9397a1;}
  50% {
    background-color: #49969f;
    color: #cfefed;
  }
  100% {background-color: #9397a1;}
}
.wrapper {
  background-color: #d3d3d3;
  width: 1200px;
  margin: 0 auto;
}
header{
  background-color: #c0c0c0;
  text-align: center;
  color: #ffffff;
  h1{
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  #ches {
    width: 400px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    justify-content: center;
  }
  button {
    margin-top: 20px;
    width: 400px;
    height: 40px;
  }
  .row_black {
    background-color: #00000060;
  }

  .row {
    line-height: 40px;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
    /*border: 1px solid red;*/
    &:hover {
      background-color: rgba(36, 36, 218, 0.26);
    }
  }
}
/* style for game quest */
.quest_game{
  margin: 20px auto;
  width: 1200px;
  height: 675px;
  position: relative;
  .bg-img{
    img {
      width: 1200px;
      height: 675px;
    }
  }
  .exitGame,
  .textAction,
  .action,
  .userSteps{
    position: absolute;
  }
  .exitGame,
  .textAction,
  .action,
  .userSteps{
    text-align: left;
  }
  .userSteps{
    color: #fff;
    background-color: #00000070;
    top: 20px;
    left: 20px;
    width: 250px;
    padding: 10px;
  }
  .exitGame{
    cursor: pointer;
    background-color: #00000070;
    top: 50px;
    left: 50px;
  }
  .textAction {
    color: #fff;
    background-color: #00000070;
    top: 200px;
    right: 20px;
    width: 400px;
    padding: 10px;
    line-height: 20px;
  }
  .action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: #00000070;
    top: 570px;
    right: 120px;
    width: 80%;
    height: 100px;
    .item {
      display: block;
      padding: 5px 20px;
      cursor: pointer;
      line-height: 30px;
      font-weight: 500;
      background-color: #4e3427;
      border-radius: 10px;
    }
  }
  .stGame{
    cursor: pointer;
    position: absolute;
    top: 580px;
    left: 500px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #FF000070;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hideBlock {
    display: none;
  }
}

footer{
  background-color: #c0c0c0;
  text-align: center;
  line-height: 40px;
  color: #ffffff80;
}