body{
  margin: 0;
  padding: 0;
  background-color: darkgray;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ol{
  margin-left:35px;
  padding-left: 5px;
  li{
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.tasks{
    display: block;
  .task {
    &:first-letter{
      margin-right: 10px;
      font-size: 30px;
      font-weight: 600;
    }
    padding: 10px 20px;
    border-bottom: 5px solid #00000080;
  }
}
.answ{
  text-align: center;
  width: 130px;
  display: block;
  font-size: 16px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #9397a1;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
  animation-name: animatedButton;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  &:hover{
    font-weight: bold;
  }
}
@keyframes animatedButton {
  0% {background-color: #9397a1;}
  50% {
    background-color: #49969f;
    color: #cfefed;
  }
  100% {background-color: #9397a1;}
}
.wrapper {
  background-color: #d3d3d3;
  width: 1200px;
  margin: 0 auto;
}
header{
  background-color: #c0c0c0;
  text-align: center;
  color: #ffffff;
  h1{
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
footer{
  background-color: #c0c0c0;
  text-align: center;
  line-height: 40px;
  color: #ffffff80;
}